<html>
    <head>
        <%- headerContainer %>
        <script src="/js/sjcl.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Login Form -->
              <form id="myForm" action="/auth" method="post">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <button id="button" class="fadeIn fourth">Log in</button>
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="/register">New? Register</a>
              </div>
          
            </div>
          </div>
    </body>
    <script>
        var myform = document.getElementById('myForm');
        var myButton = document.getElementById('button');
        myButton.onclick = function()
        {
            document.getElementById('password').value = sjcl.codec.hex.fromBits(sjcl.hash.sha256.hash(document.getElementById('password').value));
            myform.submit();
        };
    </script>
</html>